# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Rider / VS / OS junk
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
.DS_Store
Thumbs.db

# Crash/Profiler
*.stacktrace

# Packages cache
Packages/manifest.json
!Packages/packages-lock.json

# Addressables / Generated
[Aa]ssets/AddressableAssetsData/*
!Assets/AddressableAssetsData/*.asset
